<mat-toolbar class="header">
  <button *ngIf="navbutton" mat-icon-button id="menu" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="color: white;font-weight: bold;">TestName</span>
  <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" >
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" >
      <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
  [fixedTopGap]>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
