.main-body{
    width: 100%;
    height: 100%;
    background-color: #17b099;
    overflow-y: hidden;
    div{
        display: flex;
        justify-content: center;
        h3{
            color: white;
            font-size: large;
            font-weight: bolder;
        }
        h4{
            color: blue;
            cursor: pointer;
        }
    }
  }