.book-view{
    display: flex;
    flex-direction: row;
    .book-details{
        padding-left: 1rem;
        width: 50%;
    }
}

.img{
    width: 300px;
    height: 300px;
}

.arrow-icon{
    display: flex;
    justify-content: space-between;
    mat-icon{
        cursor: pointer;
    }
}
@media only screen and (max-width: 480px) {
    .book-view{
        display: flex;
        flex-wrap: wrap;
        .book-details{
            width: 90%;
        }
    }

    .img{
        width: 270px;
        height: 200px;
    }
}