<h1 mat-dialog-title>
  <button mat-flat-button (click)="cancel()"><mat-icon>close</mat-icon></button>
</h1>
<div mat-dialog-content>
  <div class="book-view">
    <div class="book-image">
      <img class="img" src="{{ images }}" />
      <div class="arrow-icon">
        <mat-icon (click)="previous_image(images)">arrow_left</mat-icon>
        <mat-icon (click)="next_image(images)">arrow_right</mat-icon>
      </div>
    </div>
    <div class="book-details">
      <div>
        <h2>{{ book_details.name }}</h2>
      </div>
      <div>
        <h5>{{ book_details.description }}</h5>
      </div>
      <div>Auther : {{ book_details.author_name }}</div>
      <div>Price : {{ book_details.price }}</div>
      <div>year : {{ book_details.year }}</div>
      <div>Category : {{ book_details.category }}</div>
      <div style="padding-top: 2rem">
        <button (click)="addCart(book_details)" mat-raised-button color="warn">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
