<div class="search-bar">
  <mat-form-field appearance="outline">
    <mat-label>Search Book By Book name,Author name,year,type etc</mat-label>
    <input type="text" matInput [(ngModel)]="term"/>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="progress-bar" *ngIf="loading_books">
  <mat-spinner color="warn"></mat-spinner>
</div>

<div class="main-container">
  <div class="card" *ngFor="let book of book_item|filter:term">
    <div class="card-header">
      <img src="{{ book.books.image }}" />
    </div>
    <div class="card-body-main">
      <div class="card-body">
        {{ book.books.name }}
      </div>
      <div class="card-body">
        {{ book.books.price | currency: "INR" }}
      </div>
      <div class="card-body">
        <button mat-flat-button color="warn">Add to cart</button>
      </div>
    </div>
  </div>
</div>
