<div class="search-bar">
  <mat-form-field appearance="outline">
    <mat-label>Search Book By Book name,Author name,year,type etc</mat-label>
    <input type="text" matInput [(ngModel)]="term"/>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="progress-bar" *ngIf="loading_books">
  <mat-spinner color="warn" [diameter]="50"></mat-spinner>
</div>

<div class="main-container">
  <div class="card" *ngFor="let book of book_item|filter:term">
    <div class="card-header">
      <img src="{{ book.books.image[0] }}" />
    </div>
    <div class="card-body-main">
      <div class="card-body">
        {{ book.books.name }}
      </div>
      <div class="card-body">
        {{ book.books.price | currency: "INR" }}
      </div>
      <div class="card-body" style="padding-top: 1rem;padding-bottom: 0.5rem;">
        <button class="view-btn" mat-flat-button (click)="bookView(book.books)">View Book</button>
      </div>
    </div>
  </div>
</div>
