<div class="main-container">
  <div class="form-container">
    <div class="form-header">
      <h2>{{isEditingMode?'Edit Book':'Add Book'}}</h2>
    </div>
    <form [formGroup]="bookForm" (ngSubmit)="Submit()">
      <div class="h-stack">
        <mat-form-field appearance="outline">
          <mat-label>Book name</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input type="text" matInput formControlName="description" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Author name</mat-label>
          <input type="text" matInput formControlName="author_name" />
        </mat-form-field>
      </div>
      <div class="h-stack">
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input type="text" matInput formControlName="price" type="number" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Year</mat-label>
          <input type="text" matInput formControlName="year" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option
              *ngFor="let category of Book_categories"
              [value]="category"
            >
              {{ category }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="file_input">
        <mat-form-field appearance="outline" color="accent">
          <input matInput readonly />
          <input
            type="file"
            accept="image/*"
            (change)="onFileChanged($event)"
          />
        </mat-form-field>
        <span *ngFor="let img of book_images">
          <img width="200" height="150" [src]="img" style="padding-left: 0.3rem;" />
        </span>
      </div>
      <div class="form-btn">
        <button  mat-flat-button>
          <span *ngIf="!button_spinner">{{isEditingMode?'Update':'Save'}}</span>
          <mat-progress-spinner
            *ngIf="button_spinner"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
        </button>
      </div>
    </form>
  </div>
</div>
