<div class="header">
  <div><h2>Items in Cart</h2></div>
  <div><button mat-flat-button (click)="cancel()"><mat-icon>close</mat-icon></button></div>
</div>
<div class="progress-bar" *ngIf="loading_books">
  <mat-spinner color="warn"></mat-spinner>
</div>
<div mat-dialog-content *ngFor="let book of cart_item">
  <div class="book-view">
    <div class="book-image">
      <img class="img" src="{{book.books.image[0]}}" />
    </div>
    <div class="book-details">
      <h2>{{book.books.name}}</h2>
      <div>{{book.books.author_name}}</div>
      <div>{{book.books.year}}</div>
      <div>{{book.books.price}}</div>
      <div style="padding-top: 0.2rem">
        <button mat-flat-button color="warn"><a href="tel:+919747504098">Call for Buy</a></button>
      </div>
    </div>
  </div>
  <hr style="border:1px black dotted;">
</div>
